In [13]:
import pandas as pd

In [14]:
psg_players = pd.Series(
    ['Navas','Mbappe','Neymar','Messi'],
    index = [1, 7, 10, 30]
    )

In [15]:
psg_players

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [16]:
psg_players_2 = pd.Series(['Navas','Mbappe','Neymar','Messi'])

In [17]:
psg_dict = {
    1: 'Navas',
    7: 'Mbappe',
    10: 'Neymar',
    30: 'Messi'
}

pd.Series(psg_dict)

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [18]:
psg_players[10]

'Neymar'

In [19]:
psg_players_2[0:2]

0     Navas
1    Mbappe
dtype: object

In [21]:
psg_new_dict = {
   'Jugador': ['Navas','Mbappe','Neymar','Messi'],
   'Altura': [183.0, 170.0, 170.0, 165.0],
   'Goles': [2, 200, 200, 200]
}

In [27]:
psg_df = pd.DataFrame(psg_new_dict, index=[1, 7, 10, 30])
psg_df

   Jugador  Altura  Goles
1    Navas   183.0      2
7   Mbappe   170.0    200
10  Neymar   170.0    200
30   Messi   165.0    200

In [25]:
psg_df.columns

Index(['Jugador', 'Altura', 'Goles'], dtype='object')

In [26]:
psg_df.index

Int64Index([1, 7, 10, 30], dtype='int64')